<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedestrian detection</title>
</head>
<body>
    <h1>Pedestrian detection</h1>
    <div id="container" style="display: flex; flex-direction: column;">
        <!--width="640px" height="480px" -->
        <img width="880px" height="480px" src="{{ url_for('video_feed') }}"/>
        <img width="640px" height="200px" src="{{ url_for('advertisement') }}"/>
        <!--<p scr="{{ url_for('movements') }}"/>-->
    </div>
</body>
</html>
